src/test/resources/ignore-reply-all-config.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns="http://www.mulesoft.org/schema/mule/core"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xmlns:vm="http://www.mulesoft.org/schema/mule/vm"
      xmlns:ricston="http://www.ricston.com/schema/mule/ricston"
      xsi:schemaLocation="
        http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/3.2/mule.xsd
        http://www.mulesoft.org/schema/mule/vm http://www.mulesoft.org/schema/mule/vm/3.2/mule-vm.xsd
        http://www.ricston.com/schema/mule/ricston http://www.ricston.com/schema/mule/ricston/3.2/mule-ricston.xsd">

    <append-string-transformer name="appendTest1" message=": Test 1"/>
    <append-string-transformer name="appendTest2" message=": Test 2"/>

    <flow name="synchronousFlow">
        <vm:inbound-endpoint path="sync.in" exchange-pattern="request-response"/>
        <logger level="ERROR" message="#[payload] from sync"/>
    </flow>

    <flow name="synchronousFlowWithException">
        <vm:inbound-endpoint path="sync.exception.in" exchange-pattern="request-response"/>
        <logger level="ERROR" message="#[payload] from sync"/>
        <null-component/>
    </flow>

    <flow name="mainFlow">
        <vm:inbound-endpoint path="main.in" exchange-pattern="request-response"/>
        <ricston:ignore-reply-all>
            <vm:outbound-endpoint path="sync.in" exchange-pattern="request-response" transformer-refs="appendTest1"/>
            <vm:outbound-endpoint path="sync.in" exchange-pattern="request-response" transformer-refs="appendTest2"/>
        </ricston:ignore-reply-all>

        <async>
            <logger level="ERROR" message="#[payload] from main"/>
        </async>
    </flow>

    <flow name="mainFlowWithException">
        <vm:inbound-endpoint path="main.exception.in" exchange-pattern="request-response"/>
        <ricston:ignore-reply-all>
            <vm:outbound-endpoint path="sync.in" exchange-pattern="request-response" transformer-refs="appendTest1"/>
            <vm:outbound-endpoint path="sync.exception.in" exchange-pattern="request-response"
                                  transformer-refs="appendTest2"/>
        </ricston:ignore-reply-all>

        <async>
            <logger level="ERROR" message="#[payload] from main"/>
        </async>
    </flow>
</mule>
